/* Custom Variable */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

html {
  --nav-hover: #1d1f2e;
  --button-hover: #2f3247;
  --link-hover: #743f2f;
}

/* Chung */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  /* max-width: 100%; */
  max-height: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--a-hover-color);
}

ul {
  list-style: none;
}

.upper {
  text-transform: uppercase;
}

body {
  color: #1d1f2e;
}

.d-inblk {
  display: inline-block;
}

/* Class chung */
.container {
  margin-left: auto;
  margin-right: auto;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

/* Direction */
.flex.column {
  flex-direction: column;
}

/* Justify */
.j-center {
  justify-content: center;
}

.j-start {
  justify-content: flex-start;
}

.j-end {
  justify-content: flex-end;
}

.j-between {
  justify-content: space-between;
}

.j-evenly {
  justify-content: space-evenly;
}

/* Align */
.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.a-center {
  align-items: center;
}

/* Noi dung */
.nav {
  font-size: 12px;
  width: 940px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.nav-item {
  margin-right: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}
.nav-item a {
  color: #777982;
}
.nav-item:hover a {
  color: #1d1f2e;
}

.header-image {
  width: 1440px;
}

.cart {
  width: 90.18px;
  height: 30px;
  color: #c1c1ca;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}
.cart-text {
  margin-left: 8px;
  margin-right: 8px;
}
.cart-quality {
  padding: 2px 6px;
  background: #c1c1ca;
  border-radius: 50%;
  color: white;
  font-size: 11px;
}

.header-image {
  max-width: 1440px;
  background-color: #050827;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.header-content {
  width: 940px;
  height: 530px;
  background-image: url("https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7a58aaecdfba_Header-Pic.jpg");
  background-size: contain;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.header-headline-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.header1 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.header2 {
  font-size: 48px;
  margin-bottom: 20px;
}
.header3 {
  font-size: 18px;
}

.product-link {
  width: 230.38px;
  height: 53.6px;
  color: #1d1f2e;
  background: #fafafa;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
}

.product-link:hover {
  color: #1d1f2e;
}

.main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: #1d1f2e;
}

section {
  width: 100%;
  margin-bottom: 80px;
  margin-top: 20px;
}

.descrition {
  width: 658px;
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: 400px;
  line-height: 40px;
}

.paragraph {
  font-size: 16px;
  margin-bottom: 25px;
  color: rgba(29, 31, 46, 0.7);
  line-height: 28px;
}

.about {
  font-size: 16px;
  color: #a25f4b;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
  padding: 10px;
}
.about:hover {
  color: #743f2f;
  border-bottom-color: rgba(162, 95, 75, 0.7);
}

.section-head {
  margin-bottom: 80px;
}

.subline {
  width: 30px;
  height: 1px;
  background-color: #ececed;
  margin: 15px;
}

.section-title {
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* .item {
  height: 652.6px;
} */

.item-box {
  width: 48%;
  margin-bottom: 60px;
}

.class-image {
  width: 100%;
  height: 540px;
  /* background-image: url("https://assets.website-files.com/5be96251aaba7a84f6ecdf81/5be96251aaba7a512bece011_liana-mikah-698524-unsplash.jpg");
  background-size: cover;
  background-position: center; */
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  display: none;
  background-image: linear-gradient(
    180deg,
    rgba(29, 31, 46, 0.1),
    rgba(29, 31, 46, 0.1)
  );
  position: absolute;
  top: -8px;
  left: 0;
  padding: 25px 3%;
}

.hidden-button {
  width: 94%;
  height: 53.6px;
  background: #fafafa;
  font-size: 12px;
  font-weight: 700;
  line-height: 17.6px;
  letter-spacing: 2px;
  line-height: 18px;
  text-align: center;
  padding: 18px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 15px;
}

/* .class-image:hover {
  border-bottom-color: rgba(162, 95, 75, 0.8);
} */

.class-image:hover .overlay {
  display: block;
  transform: translate3d(0px, 8px, 0px) scale3d(1, 1, 1);
  transform-style: preserve-3d;
}

.item-info {
  text-align: center;
  width: 100%;
}

.item-name {
  font-size: 20px;
  line-height: 30px;
  display: block;
}

.price {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}

.sale {
  width: 91.3px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #a25f4b;
  font-weight: 700;
  background: white;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

.price-sale {
  color: #a25f4b;
  font-size: 20px;
  line-height: 32px;
}
.price-origin {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.4);
  text-decoration: line-through;
}

.w-30 {
  width: 30%;
}

.h-380px {
  height: 380px;
}

/* .thumb {
  background-size: cotain;
  background-position: center;
} */

.image-wrap {
  width: 50%;
}

.large-image {
  width: 280px;
  height: 280px;
  margin-right: 20px;
  background-image: url("https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7a2f3decdfa9_Image.jpg");
  background-position: center;
  background-size: cover;
}

.small-image-wrap {
  width: 160px;
}

.small-image1 {
  width: 160px;
  height: 130px;
  margin-bottom: 20px;
  background-image: url("https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7aa6d0ecdfa7_Image%202.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.small-image2 {
  width: 160px;
  height: 130px;
  margin-bottom: 20px;
  background-image: url("https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7a528fecdfa6_Image.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.magazine-wrap {
  width: 50%;
  padding: 35px 0;
  padding-left: 60px;
}

.magazine-get {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

.shopping {
  width: 172.76px;
  height: 53.6px;
  background: #1d1f2e;
  color: #fafafa;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 25px;
}

.shopping:hover {
  background: #2f3247;
  color: #fafafa;
}

.background-view {
  width: 100%;
  height: 340px;
  background-image: url("https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7ac1c6ecdfd2_Section%20Image%202.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}

.square {
  width: 300px;
  height: 300px;
}

.t-left {
  text-align: left;
}

.story-title {
  margin-bottom: 10px;
  color: #1d1f2e;
  font-size: 20px;
  line-height: 32px;
}

.story-title:hover {
  color: #a25f4b;
}
